@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
.Caprasimo {
  font-family: 'Caprasimo', serif;
}


  .acolor:hover {
    color: rgb(0, 176, 94) !important;
              
    border: 3px rgb(0, 176, 94) solid !important;
  }

/*Animation*/
.animate-charcter
{
  text-align: center;
  width: 100%; 
  text-transform: uppercase;
  background-image: linear-gradient(
    -100deg,
    #ffffff 0%,
    rgb(0, 176, 94) 25%,
    #1100ff 50%,
    rgb(0, 176, 94) 25%,
    #ffffff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: inline-block;
}

.invisibleborder {
  border: none;
}

.hero-imageone {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../images/forest.png");
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
  /*image is fixed in background all other elements are scrolling*/  
  /*background attachement makes image fixed*/
    position: relative;
    top: 60px;
    background-position: top;
}
.hero-imagetwo {
  background-image: url("../images/SierraLogo.png");
  height: 900px;
  width: 100%;
  background-repeat: no-repeat;
  background-size:cover;
/*image is fixed in background all other elements are scrolling*/  
/*background attachement makes image fixed*/
  position: relative;
  top: -300px;
  background-position: top;
  background-size: 70vw;
}
.hero-imagethree {
  background-image: linear-gradient(to right, rgba(8, 0, 157, 0.4), rgba(8, 0, 157, 0.4)), url("../images/Trees.png");
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-size:cover;
/*image is fixed in background all other elements are scrolling*/  
/*background attachement makes image fixed*/
  position: relative;
  background-position: top;
  z-index: 3;
}
.hero-imagefour {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/forest.png");
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size:cover;
/*image is fixed in background all other elements are scrolling*/  
/*background attachement makes image fixed*/
  position: relative;
  background-position: top;
z-index: 2;
}
.heatingcar {
  background-image:  url("../images/heatingcar.png");
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-size:cover;
/*image is fixed in background all other elements are scrolling*/  
/*background attachement makes image fixed*/
  position: relative;
  background-position: center;
}
.aircon {
  background-image: url("../images/aircon.png");
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-size:cover;
/*image is fixed in background all other elements are scrolling*/  
/*background attachement makes image fixed*/
  position: relative;
  background-position: center;
}
@media screen and (max-width: 538px) {
  .mediaq1 {
    width: 100% !important;
    float: left !important;
  }
}
